<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>日新招新了</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <style>
    body,
    section {
      background-color: #95B4BA;
    }

    section {
      padding-top: 60px;
    }

    .section-submit {
      padding-bottom: 20px;
    }

    .section-scan {
      padding-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <section class="col-xs-12">
      <div class="col-xs-6 col-xs-offset-3 section-submit">
        <img class="img-rounded img-responsive" src="/images/submit.png" alt="">
      </div>
      <div class="col-xs-12">
        <img class="img-rounded img-responsive" src="/images/erweima.jpg" alt="">
      </div>
      <div class="col-xs-4 col-xs-offset-4 section-scan">
        <a href="/">
                    <img class="img-rounded img-responsive" src="/images/back.png" alt="">
                </a>
      </div>
    </section>
  </div>
</body>

</html>
